@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "ProximaNovaCond";
  src: local("ProximaNovaCond"),
   url(./../fonts/ProximaNovaCond.otf) format("opentype");
}

#app {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

button:focus {
  outline: none;
}

.app-w {
  width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 1339px) {
    width: 1000px;
  }
  @media (max-width: 1023px) {
    max-width: 680px;
    width: 100%;
  }
  @media (max-width: 699px) {
    padding: 0;
  }
}

.content-py {
  padding: 50px 0;

  @media (max-width: 1023px) {
    padding: 40px 0;
  }
}

.px-default {
  padding: 0 15px;
}

.button-link {
  color: #609fcf;
  // line-height: 100%;
  &:hover {
    color: #c00;
  }
  &:visited {
    color: #7f3cba;
  }
}

// TYPOGRAPHY

h1,h2,h3,h5,h6 {
  font-family: "ProximaNovaCond", Arial, sans-serif;
  font-weight: 400;
  padding: 0;
  line-height: normal;
  margin: 0 0 15px;
}

h1 {
  font-size: 36px;
  line-height: 42px;

  @media (max-width: 699px) {
    font-size: 24px;

  }

}

h2 {
  font-size: 22px;
  &.header-2 {
    font-weight: 600;
    margin: 0 0 15px;
  }
}

// TRANSITIONS

.slide-down-enter-active, .slide-down-leave-active {
  transition: max-height .1s linear;
  max-height: 100px;
  overflow: hidden;
}
.slide-down-enter, .slide-down-leave-to /* .fade-leave-active below version 2.1.8 */ {
  // transform: translateY(-100%);
  overflow: hidden;
  max-height: 0;
}